@import '../../styles/variables.scss';

.app-header {
	padding: 16px 32px 16px 16px;
	text-align: right;
	background: $primary;
	color: $white;
	box-shadow: 0 2px 4px lighten($primary, 40);

	a {
		color: $white;
		font-size: 16px;
		font-weight: bold;
		font-family: Roboto, "Helvetica Neue", sans-serif;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&:hover {
			color: darken($white, 10);
		}
	}

}
