<div class="wrapper">
	<h2 class="login-header">Login</h2>

	<form [formGroup]="loginForm" (ngSubmit)="login()">

		<div class="login-form">

			<mat-form-field>
				<input matInput placeholder="Username" formControlName="username">
				<mat-error *ngIf="!username.valid">This field is required</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput type="password" placeholder="Password" formControlName="password">
				<mat-error *ngIf="!password.valid">This field is required</mat-error>
			</mat-form-field>

			<div class="login-submit">
				<button mat-raised-button color="primary" type="submit">login</button>
				<mat-error *ngIf="loginFailed">Username or password is incorrect. Please try again</mat-error>
			</div>

		</div>

	</form>
</div>
