.wrapper {
	margin: auto;
	min-width: 150px;
	max-width: 500px;
	padding-top: 10%;
}

.login-header {
	border: {
		style: solid;
		width: 1px 1px 0 1px;
		color: gray;
	};
	background: rgba(0, 0, 0, .03);
	padding: 12px 24px;
	margin: 0;
}

.login-form {
	border: {
		style: solid;
		width: 1px;
		color: gray;
	};
	display: flex;
	flex-direction: column;
	padding: 24px;

	.mat-form-field {
		margin-top: 12px;
	}

	.login-submit {

		.mat-raised-button {
			margin-top: 24px;
		}

		.mat-error {
			display: inline;
			margin-left: 24px;
		}
	}

}
