@import '../variables';

.app-item {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	padding: 100px 0;

	.elements-title {
		background: $background-header;
		color: $white;
		padding: 12px 24px;
		margin: 0;
	}

	.item-form-wrapper {
		box-shadow: $box-shadow;

		.item-form {
			background: $white;
			min-width: 500px;
			padding: 24px;

			mat-form-field {
				min-width: 500px;
			}

			.item-submit {
				margin-top: 24px;
			}
		}
	}

	.displayed-items-wrapper {
		margin-bottom: 100px;
		box-shadow: $box-shadow;

		.displayed-items {
			background: $white;
			font-size: 24px;
			font-family: Roboto, "Helvetica Neue", sans-serif;
			width: 500px;
			overflow: auto;
			padding: 24px;
		}
	}

	.items-error {
		background: $white;
		width: 500px;
		font-size: 24px;
		padding: 24px;
		text-align: center;
	}

}
